#fileslist {
    font-size: 30px;
    list-style: none;
}

#buttonup {
  color: black;
        position: fixed;
        bottom: 5px;
        width: 100%;
        background-color: #b1b1b1; /* Замените это на нужный цвет фона */
        padding: 20px; /* Добавим немного отступов для красоты */
      left: 0;
      font-size: 35px;
      border-radius: 15px;
      border: 3px /* width */ solid /* style */ rgb(46, 46, 46);
}


#h1f{
  position: absolute;
  font-size: 70px;
  top: 82px;
  left: 27px;
  
}



#inp {
position: absolute;
    top:1000px;
    left: 100px;
    width: 800px;
    height: 300px;
    font-size: 50px;
    border-radius: 15px;



}
input[type=file] {
  display: none;
}





#adw {
    position: fixed;
  left: 0px;
  bottom: 10px;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  background: rgb(192, 192, 192);
  border: 3px /* width */ solid /* style */ rgb(46, 46, 46);
}




#th {

text-align: center;

  font-size: 45px;
}
